
/* Estilo para el contenedor del scroll */
.divScroll::-webkit-scrollbar {
    width: 3px;
}

/* Estilo para la barra del scroll */
.divScroll::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Estilo para la barra del scroll al pasar el mouse */
.divScroll::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.fondoVerde{
    background-color: #EAFFDD;
}

.agregar {
    background-color: #F58500;
    box-shadow: none !important;
  }
  
  .agregar:hover {
    background-color: #db4d00 !important; /* Cambia esto al color que quieras cuando el mouse esté sobre el elemento */
  }
  
  .agregar:active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) !important; /* Ajusta esto para cambiar el aspecto de la sombra */
  }

  .divScroll::-webkit-scrollbar {
    width: 3px;
}

/* Estilo para la barra del scroll */
.divScroll::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Estilo para la barra del scroll al pasar el mouse */
.divScroll::-webkit-scrollbar-thumb:hover {
    background: #555;
}

